<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="zebra1" class="com.example.pkg.Animal">
        <property name="size">
            <bean id="animalSize" class="com.example.pkg.Size">
                <constructor-arg value="100"/>
                <constructor-arg value="560"/>
            </bean>
        </property>
    </bean>

    <alias name="zebra1" alias="zebra"/>
</beans>