<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="zebra3" class="com.example.pkg.Animal" autowire="constructor" scope="prototype"/>

    <bean id="color" class="com.example.pkg.Color">
        <property name="colorName" value="3 BlueAndGreen"/>
        <property name="colorId" value="4"/>
    </bean>

</beans>